#menubar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#menubar li {
    float: left;
}

#menubar li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menubar li a:hover {
    background-color: #111;
}
#container
{
    display:inline-block;
    position:relative;
    background-color: crimson;
    margin-right:80px;
    margin-left: 80px;
    width:1080px;
    height:650px;
}
#topbar{
    float:left;
    height:80px;
    width:1070px;
    padding:5px;
    border-bottom-color: whitesmoke;
    border-bottom-style: solid;
    background-color: #111;
}
#logo{
    float:left;
    white-space: nowrap;
}
#menubar {
    float:left;
    height:100px;
    margin-top: 20px;
    padding:5px;
    white-space: nowrap;
}
#searchbar{
    float:right;
    width: 300px;
    margin-top: 40px;
    vertical-align:middle;
    white-space: nowrap;
    position:relative;
}
#content{
    float:left;
    height:500px;
    width:930px;
    padding:5px;
    margin-top: 30px;
    margin-left: 80px;
    background-color: #fff;
}